@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html,
body {
  height: 100%;
  overflow: hidden;
}

.Loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #1d2531;
  height: auto;
  display: flex;
  flex-direction: column;
}

.loader {
  position: absolute;
  top: 45vh;
  align-self: center;
}

.welcome {
  position: fixed;
  bottom: 0;
  margin-bottom: 2%;
  margin-left: 2%;
}

.wel {
  font-size: 30px;
  font-family: Assistant;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.wait {
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}
