@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.nav {
  position: absolute;
  right: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.link {
  margin-right: 10%;
}

.main {
  top: 5vh;
  z-index: 5;
}

.link:hover {
  text-decoration: none;
  color: #ff8c8c;
  cursor: pointer;
  background-color: blue;
}

.button {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2em;
  background: #1d2531;
  border: 1px solid #ff8c8c;
}

.button:hover {
  background: #ff8c8c;
}
