@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html,
body {
  height: 100%;
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #1d2531;
  height: auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
